    <section class="has-half-image" style="background-image: url({{ page.media[page.header.half_image].url() }})">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
          </div>
          <div class="column is-6">
            <h1 class="title is-uppercase">
              {{ page.header.half_title }}
            </h1>
              {{ page.header.half_text|markdown }}
            <button class="button is-rounded is-primary">Read more</button>
          </div>
        </div>
      </div>
    </section>