<section class="hero is-primary" style="background-image: url({{ page.media[page.header.hero_background].url() }})">
    <div class="hero-body">
    <div class="container">
        <div class="columns">
        <div class="column is-8">
            <h2 class="subtitle is-uppercase">{{ page.header.hero_subtitle }}</h2>
            <h1 class="title is-uppercase">{{ page.header.hero_title }}</h1>
            <p>{{ page.header.hero_text }}</p>
            <button class="button is-rounded is-outlined is-white" onclick="scrollToAnchor('section-1')">Learn more</button>
            &nbsp;
            <button class="button is-rounded is-outlined is-primary">Book now!</button>
        </div>
        </div>
    </div>
    </div>
</section>
<div id="section-1"></div>