    <footer class="has-background-black has-text-white">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="has-text-centered">Sign up to the newsletter for healthy recipes, fitness advice and more!</p>
            <div class="field has-addons">
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Email address">
              </div>
              <div class="control">
                <a class="button is-rounded is-primary">
                  Sign me up!
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <figure class="image is-128x128">
                  <img src="{{ url('theme://images/logo.svg') }}" />
                </figure>
                <h2 class="title is-uppercase">Elite spartans</h2>
              </div>
              <div class="column">
                <p><a href="tel:4086247479">(408) 624-7479</a></p>
                <p><a href="mailto:azuniga@elitespartans.com">azuniga@elitespartans.com</a></p>
                <p>3278 Almaden Expressway<br>San Jose<br>CA 95118</p>
              </div>
              <div class="column">
                <p>Monday - Friday<br>5:00am - 9:00pm</p>
                <p>Saturday - Sunday<br>7:00am - 2:00pm</p>
              </div>
              <div class="column">
                <ul>
                  <li><a href="Home">Home</a></li>
                  <li><a href="About">About</a></li>
                  <li><a href="Services">Services</a></li>
                  <li><a href="Testimonials">Testimonials</a></li>
                  <li><a href="Schedule">Schedule</a></li>
                  <li><a href="Contacts">Contacts</a></li>
                </ul>
              </div>
            </div>
            <p class="has-text-centered">&copy;Copyright 2020, Elite Spartans</p>
          </div>
        </div>
      </div>
    </footer>